<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Minder</a>
        </div>
        <p style="font-size:1.1em">Chào bạn,</p>
        <p>Cảm ơn bạn đã lựa chọn sử dụng Minder. Sử dụng mã OTP sau đây để hoàn tất tiến trình của bạn. OTP có giá trị trong vòng 5 phút.</p>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">#OTP#</h2>
        <p style="font-size:0.9em;">Trân trọng, <br />Minder </p>
        <hr style="border:none;border-top:1px solid #eee" />
    </div>
</div>